<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>问卷调查</title>
    <link rel="stylesheet" href="css/element-reset.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div id="app">
    <div class="container" v-if="templateData">
        <div class="title" v-text="templateData.name"></div>
        <ul class="base-information">
            <li>培训人：<span v-text="templateData.author"></span></li>
        </ul>
        <div class="item" v-for="(item, index) in deserializeData">
            <div class="item-title">{{index+1}}. {{item.name}}</div>
            <el-radio-group  v-model="radio2"
                             v-if="item && item.options"
                             v-for="(option, index) in item.options">
                <el-radio :label="3">{{option.name}}</el-radio>
            </el-radio-group>
            <el-input v-else type="textarea" :rows="2" placeholder="请输入内容" v-model="textarea">
            </el-input>
        </div>
        <div class="submit-content">
            <el-button type="primary" class="submit">提交</el-button>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const el = new Vue({
    el: '#app',
    data() {
      return {
        radio2: 3,
        textarea: '',
        templateData: null,
        deserializeData: null
      }
    },
    methods: {
      fetchQestionnaire() {
        let that = this;
        axios.get('http://hufe.club:8000/api/getQuestionnaire', {
          params: {
            questionnaireId: 'A75CB3CC-27A3-4B1B-B1F8-028B853F27A1'
          }
        }).then(function ({data}) {
            that.templateData = data;
            that.deserializeData = that.deserialize(data)
        })
          .catch(function (error) {
            console.log(error);
          });
      },
      deserialize(data) {
        const result = [];

        result.concat(data.answers, data.selections);


        for (let i = 0; i < data.answers.length; i++) {
          result.push(data.answers[i]);
        }

        for (let i = 0; i < data.selections.length; i++) {
          result.push(data.selections[i]);
        }

        return result.sort((a, b) => {
          return a.sort - b.sort
        })
      }
    },
    created() {
      this.fetchQestionnaire()
    }
  })
</script>
</html>
